.contenedorTabla {
  margin:0 auto;
  width:20em;
  min-height:1em;
  text-align:center;
}
.tituloColumna {
	color:#389248;
	font-weight: bold;
}
.columnaTextoCentrado {
  padding-left:0em 0.3em;
  margin:0.2em 0.5em;
  color:#000000;
  font-weight:normal;
  vertical-align:middle;
  text-align:center;
  float:left;
}
.columnaTextoIzquierda {
  padding-left:0em 0.3em;
  margin:0.2em 0.5em;
  color:#000000;
  font-weight:normal;
  vertical-align:middle;
  text-align:left;
  float:left;
}
.clear {
  clear:both;
}